<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>angular dashboard - Vue3 Composition API</title>
  </head>

  <body ng-app="vue.components">
    <h2>dashboard</h2>
    <label>
      <span>First Name: </span>
      <input ng-model="ctrl.person.firstName" />
    </label>
    <label>
      <span>Last Name: </span>
      <input ng-model="ctrl.person.lastName" />
    </label>

    <div ng-controller="MainController as ctrl">
      <vue-dashboard
        class="vue-dashboard"
        ng-class="ctrl.foo"
        data-foo="'bar'"
        v-props="ctrl.person"
        v-on-update-widget="ctrl.updateWidget.bind(ctrl)"
        watch-depth="value"
      >
      </vue-dashboard>
    </div>
   

    <script type="module" src="./index.ts"></script>
  </body>
</html>
